<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hospedaje de mascotas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"> <!--iconos boostrap-->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid ">
                <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="" class="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menutext" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/servicios">servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/galeria">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/testimonio">Testmonio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reservas">Reservas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="containerBody">
        <section class="portada">
            <section class="portadaInner">
                <img src="/img/portada2.png" alt="">
                <div class="containertextPortada">
                    <h1>Tu Servicio de Hospedaje de Mascotas</h1>
                    <p class="eslogan">¡Donde tus mascotas son parte de nuestra familia!</p>
                    <a href="/reservas"><button class="cta">Reserva Ahora</button></a>
                </div>
            </section>
        </section>

        <sectio class="servicios">
            <section class="servicioInner">
                <div class="card cardService" style="width: 18.5rem;">
                    <img src="/img/hospedaje.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hospedaje</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
                <div class="card cardService" style="width: 18.5rem;">
                    <img src="/img/hospedaje.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paseos</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
                <div class="card cardService" style="width: 18.5rem;">
                    <img src="/img/hospedaje.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cuidados especiales</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
                <div class="card cardService" style="width: 18.5rem;">
                    <img src="/img/hospedaje.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Entrenamientos</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </section>
        </sectio>

        <section class="sloganIndex">
            <section class="sloganInner">            
                <p>Lorem ipsum dolor sit, amet elit. Aliquam, numquam.</p>
                <img src="/img/dog.png" alt="">
            </section>
        </section>
        
        <section class="sponsor">        
            <section class="sponsonrInner">
                <h2>Sponsors</h2>
                <div class="sponsorGrid">
                    <img src="/img/s1.png" alt="1">
                    <img src="/img/s2.png" alt="2">
                    <img src="/img/s3.png" alt="3">
                    <img src="/img/s4.png" alt="4">
                    <img src="/img/s5.png" alt="5">
                    <img src="/img/s6.png" alt="6">
                    <img src="/img/s7.png" alt="7">
                    <img src="/img/s8.png" alt="8">
                    <img src="/img/s9.png" alt="9">
                    <img src="/img/s10.png" alt="10">
                </div>           
            </section>
        </section>

        <section class="ubicacion">
            <section class="ubicacionInner">
                <h2>Encuentranos</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1159.841149498912!2d-77.00157999813376!3d-12.09673940856271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7cbbd595e27%3A0xa9cc66246496d590!2sResidencial%20Monti!5e0!3m2!1ses!2spe!4v1748749680320!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        </section>

    </section>

    

    <footer>
        <section class="footerInner">
            <a class="" href="/"><img src="/img/logo.png" alt="" class="logoFooter"></a>
            <div class="icons">
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
            </div>
        </section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
  </body>
</html>